<div class=" bg-1 text-center fill-page">



<%= image_tag "logo-transparent-white.png", class: 'logo-png' %>


<h3 class="index-name logo-font">Fambreak</h3>
<p class="subheading tinytext">Update the ones who should know.</p>

<div class="container home">
  <span><a class="white btn index-button" href=<%= start_path %> data-turbolinks="false"><i class="glyphicon glyphicon-circle-arrow-right"></i>Start using Fambreak</a></span>
  <span><a class="white btn index-button" href="#" style="display: none"><i class="glyphicon glyphicon-user"></i> Login</a></span>
</div>
<br>


</div>

