<div class=" bg-1 text-center fill-page">


<h1 class="logo-font">Fambreak</h1>

<p>Update the ones who should know.</p>

<div class="container home">
  <span><a class="white btn index-button" href=<%= myfams_path %> data-turbolinks="false"><i class="glyphicon glyphicon-plus"></i> New Fam</a></span>
  <span><a class="white btn index-button" href="#" style="display: none"><i class="glyphicon glyphicon-user"></i> Login</a></span>
</div>
<br>


</div>

