<div class="container" ng-app="creatorApp">
  <script>
      <%= render "creator_service.js.erb" %>
  </script>

  <div ng-controller="CreatorController as ctr">
    <h1> {{ctr.members}} </h1>
  </div>

</div>