<div class="emojis-wrapper creator">
  <div class="emoji emoji1">
    <div class="mouth"></div>
  </div>
  <div class="emoji emoji2">
    <div class="mouth"></div>
  </div>
  <div class="emoji emoji3">
    <div class="mouth"></div>
  </div>
</div>