<div ng-app="myApp" ng-controller="CreatorController as ctr" >

  <div class="loading" ng-hide="ctr.init()"><p>Loading ...</p></div>

  <div class="fill-screen" ng-init="activeMenu='all_fams'" ng-cloak>

    <div class="save"><span>save <i class="glyphicon glyphicon-save"></i></span></div>


    <div class="container-fluid bg-1 text-center banner">

      <div ng-show="activeMenu==='all_fams'" >
        <div class="showfams" >
            <div class="estfam" ng-repeat="fam in ctr.fams">{{fam}} <span>H</span></div>
          <div class="newfam-square"><i class="glyphicon glyphicon-plus"></i></div>
        </div>
      </div>

      <div ng-show="activeMenu==='name_fam'" >



          <div class="form-group media-middle">
            <label for="usr">Fam Name:</label>
            <input type="text" class="form-control" id="usr">
          </div>


      </div>

      <div ng-show="activeMenu==='settings'" >



        <p>When do you want your updates to be delivered?</p>
        <div class="form-group">
          <label for="sel1"></label>
          <select class="form-control" id="sel1">
            <option>7 pm Friday</option>
            <option>12 pm Saturday</option>
            <option>7 pm Saturday</option>
            <option>Custom</option>
          </select>
        </div>



      </div>


      <div ng-show="activeMenu==='terms'">



        <div class="checkbox">
          <label><input type="checkbox" value="">I accept the terms</label>
        </div>



      </div>


      <div ng-show="activeMenu==='notify_fam'">



        <div class="checkbox">
          <label><input type="checkbox" value="">I accept the terms</label>
        </div>



      </div>

  </div>



  <div id="edit-fam-nav" class="text-center steps navbar-fixed-bottom" >
    <span ng-click="activeMenu = 'all_fams'" ng-class="{active : activeMenu === 'all_fams'}" class="glyphicon glyphicon-plus"></span>
    <span ng-click="activeMenu = 'name_fam'" ng-class="{active : activeMenu === 'name_fam', grey : activeMenu === 'all_fams'}" class="glyphicon glyphicon-font"></span>
    <span ng-click="activeMenu = 'settings'" ng-class="{active : activeMenu === 'settings', grey : activeMenu === 'all_fams'}" class="glyphicon glyphicon-tasks"></span>
    <span ng-click="activeMenu = 'terms'" ng-class="{active : activeMenu === 'terms',  grey :activeMenu === 'all_fams'}" class="glyphicon glyphicon-check"></span>
    <span ng-click="activeMenu = 'notify_fam'" ng-class="{active : activeMenu === 'notify_fam',  grey :activeMenu === 'all_fams'}" class="glyphicon glyphicon-bullhorn"></span>
  </div>



  </div>

</div>

g