<div ng-app="myApp" ng-controller="CreatorController as ctr" ng-init="initialize()">

    <div class="navbar-default steps" data-spy="affix" data-offset-top="197">

      <span ng-click="goback()" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="navtext"> {{ctr.name}} </span>
      <span ng-click="advance()" class="name-fam glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

    </div>


  <div class="container-fluid bg-1 text-center">



      <div class="form-group">
        <label for="usr">Fam Name:</label>
        <input type="text" class="form-control" id="usr">
      </div>

    <br>
    <h4>Need some inspiration?</h4>
    <p class="italic">The family who likes turtles</p>
    <p class="italic">Long lost </p>
    <p class="italic">Smith</p>


  </div>
</div>