
<div class="bg-1 fill-page container">
  <h1>New to Fambreak?</h1>

  <p class="tinytext">You're about to make your Fambreak group.</p>
  <p class="tinytext">The members of your group will join by replying to a text message--you can edit it before it's sent.</p>
  <h4 style="font-weight: bold;">Don't worry if you need to abandon your creation. You can save and come back.</h4>

  <div class="text-center">
    <a href=<%= myfams_path %> data-turbolinks="false" style="display: block; color: #ffd480; font-size: 15vw; margin-top: 10vh;" class="glyphicon glyphicon-ok-circle"></a><br>
  </div>
</div>