<div ng-app="myApp" ng-controller="CreatorController as ctr" ng-cloak>

  <div id="loading">Loading ...</div>

  <div ng-init="init()"></div>

  <div class="fill-screen">

    <div class="container-fluid bg-1 text-center banner">

      <div class="container" ng-show="activeMenu==='all_fams'" >
        <div class="showfams row" >

          <% if @fams %>
            <% @fams.each do |fam| %>
              <div data-remote="true"
                   data-url="/update"
                   data-params="id=10"
                   data-method="put"
                   class="estfam col-xs-4 " ><span><%= fam.name[0] %></span><br><%= fam.name %></div>
            <% end %>
          <% end %>

            <div class="newfam-square col-xs-6"><i class="glyphicon glyphicon-plus"></i></div>
        </div>

        <div id="task-form" style="display:none;"></div>

        <%# WILL NEED: ajax request for selected fam %>

      </div>

      <div ng-show="activeMenu==='name_fam'" >



          <div class="form-group media-middle">
            <label for="usr">Fam Name:</label>
            <input type="text" class="form-control" id="usr">
          </div>


      </div>

      <div ng-show="activeMenu==='settings'" >



        <p>When do you want your updates to be delivered?</p>
        <div class="form-group">
          <label for="sel1"></label>
          <select class="form-control" id="sel1">
            <option>7 pm Friday</option>
            <option>12 pm Saturday</option>
            <option>7 pm Saturday</option>
            <option>Custom</option>
          </select>
        </div>



      </div>


      <div ng-show="activeMenu==='terms'">



        <div class="checkbox">
          <label><input type="checkbox" value="">I accept the terms</label>
        </div>



      </div>


      <div ng-show="activeMenu==='notify_fam'">



        <div class="checkbox">
          <label><input type="checkbox" value="">I accept the terms</label>
        </div>



      </div>

  </div>


  <div id="edit-fam-nav" class="row text-center navbar-fixed-bottom">
    <div class="save"><span>save <i class="glyphicon glyphicon-new-window"></i></span></div>
    <div class="steps" >
      <span ng-click="activeMenu = 'all_fams'" ng-class="{active : activeMenu === 'all_fams'}" class="col-xs-2 glyphicon glyphicon-plus"></span>
      <span ng-click="activeMenu === 'all_fams' ? activeMenu = 'name_fam' : ''" ng-class="{active : activeMenu === 'name_fam', grey : activeMenu === 'all_fams'}" class="col-xs-2 glyphicon glyphicon-font"></span>
      <span ng-click="activeMenu === 'all_fams' ? activeMenu = 'settings' : ''" ng-class="{active : activeMenu === 'settings', grey : activeMenu === 'all_fams'}" class="col-xs-2 glyphicon glyphicon-tasks"></span>
      <span ng-click="activeMenu === 'all_fams' ? activeMenu = 'terms' : ''" ng-class="{active : activeMenu === 'terms',  grey : activeMenu === 'all_fams'}" class="col-xs-2 glyphicon glyphicon-check"></span>
      <span ng-click="activeMenu === 'all_fams' ? activeMenu = 'notify_fam' : ''" ng-class="{active : activeMenu === 'notify_fam',  grey : activeMenu === 'all_fams'}" class="col-xs-2 glyphicon glyphicon-bullhorn"></span>
    </div>
  </div>


  </div>

</div>

