/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #6699ff; /* blue */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 100%;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}


/* add members creator screen */


#ajerez {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
}
#ajerez img {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #7482A5;
    -webkit-transition: border-radius 0.2s ease-in-out;
    transition: border-radius 0.2s ease-in-out;
}
#ajerez img:hover {
    border-radius: 30%;
}

body {
    background-color: #A4D3DD;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 50px;
    color: #FFEB96;
    text-align: center;
}

.emojis-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 40px;
}

.emoji {
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #FFEB96;
}

.emoji1:after, .emoji1:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #414141;
    border-radius: 50%;
    top: 48px;
    -webkit-animation: emoji1-face-move 5s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
    animation: emoji1-face-move 5s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.emoji1:after {
    left: 30px;
}
.emoji1:before {
    left: 85px;
}
.emoji1 .mouth {
    position: absolute;
    height: 3px;
    width: 35px;
    background-color: #414141;
    border-radius: 5px;
    top: 68px;
    left: 45px;
    -webkit-animation: emoji1-face-move 5s ease-in-out infinite;
    animation: emoji1-face-move 5s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes emoji1-eyes-blink {
    0% {
        height: 10px;
    }
    97% {
        height: 10px;
    }
    100% {
        height: 0px;
    }
}

@keyframes emoji1-eyes-blink {
    0% {
        height: 10px;
    }
    97% {
        height: 10px;
    }
    100% {
        height: 0px;
    }
}
@-webkit-keyframes emoji1-face-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    30% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    35% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    65% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    85% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    90% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes emoji1-face-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    30% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    35% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    65% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    85% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    90% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.emoji2:after, .emoji2:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #414141;
    border-radius: 50%;
    top: 48px;
    -webkit-animation: emoji2-face-move 4s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
    animation: emoji2-face-move 4s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
}
.emoji2:after {
    left: 18px;
}
.emoji2:before {
    left: 72px;
}
.emoji2 .mouth {
    position: absolute;
    height: 22px;
    overflow: hidden;
    border-top: 4px solid #F3F3F3;
    width: 30px;
    background-color: #F7AA86;
    border-radius: 25px;
    top: 68px;
    left: 35px;
    -webkit-animation: emoji2-face-move 4s ease-in-out infinite, emoji2-mouth-move 4s ease-in-out infinite;
    animation: emoji2-face-move 4s ease-in-out infinite, emoji2-mouth-move 4s ease-in-out infinite;
}

@-webkit-keyframes emoji2-face-move {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    55% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    95% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes emoji2-face-move {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    55% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    95% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes emoji2-mouth-move {
    0% {
        height: 22px;
        border-top: 4px solid #F3F3F3;
    }
    55% {
        height: 22px;
        width: 30px;
        left: 35px;
        border-top: 4px solid #F3F3F3;
    }
    60% {
        height: 10px;
        width: 15px;
        left: 42px;
        border-top: 4px solid #FFEB96;
    }
    95% {
        height: 10px;
        width: 15px;
        left: 42px;
        border-top: 4px solid #FFEB96;
    }
    100% {
        height: 22px;
        width: 30px;
        left: 35px;
        border-top: 4px solid #F3F3F3;
    }
}
@keyframes emoji2-mouth-move {
    0% {
        height: 22px;
        border-top: 4px solid #F3F3F3;
    }
    55% {
        height: 22px;
        width: 30px;
        left: 35px;
        border-top: 4px solid #F3F3F3;
    }
    60% {
        height: 10px;
        width: 15px;
        left: 42px;
        border-top: 4px solid #FFEB96;
    }
    95% {
        height: 10px;
        width: 15px;
        left: 42px;
        border-top: 4px solid #FFEB96;
    }
    100% {
        height: 22px;
        width: 30px;
        left: 35px;
        border-top: 4px solid #F3F3F3;
    }
}
.emoji3:after, .emoji3:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #414141;
    border-radius: 50%;
    top: 48px;
    -webkit-animation: emoji3-face-move 0.25s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
    animation: emoji3-face-move 0.25s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.emoji3:after {
    left: 18px;
}
.emoji3:before {
    left: 72px;
}
.emoji3 .mouth {
    position: absolute;
    height: 22px;
    top: 68px;
    left: 35px;
    -webkit-animation: emoji3-mouth-move 0.25s ease-in-out infinite;
    animation: emoji3-mouth-move 0.25s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.emoji3 .mouth:before, .emoji3 .mouth:after {
    content: '';
    border-radius: 100%;
    position: absolute;
    border: 3px solid transparent;
    border-top: 3px solid #414141;
    border-left: 3px solid #414141;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
.emoji3 .mouth:before {
    height: 15px;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    left: 5px;
}
.emoji3 .mouth:after {
    height: 10px;
    width: 10px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 12px;
    left: 8px;
}

@-webkit-keyframes emoji3-face-move {
    0% {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    100% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
}

@keyframes emoji3-face-move {
    0% {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    100% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
}
@-webkit-keyframes emoji3-mouth-move {
    0% {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    100% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}
@keyframes emoji3-mouth-move {
    0% {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    100% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}
