/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #4dff88;
}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background: #ffd480; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffd480, #f0f0f0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffd480, #f0f0f0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffd480, #f0f0f0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffd480, #f0f0f0); /* Standard syntax */
    color: #ffffff;
}

.bg-2 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-3 {
    background-color: lightgrey;
    color: white;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 100%;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #8fbc8f;
}

.white {
    color: white;
}

.logo-font {
    font-family: 'Permanent Marker', 'sans-serif';
}

.logo {
    font-size: 80%;
    color:  #ffd480;
    text-align: center;
}

.container-m {
    padding-top: 1px;
    padding-bottom: 1px;
}