/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    position: relative;

}

.circle {
    margin-top: 10px;
    border-radius: 50%;
    padding-top: 10px;
    width: 60px;
    height: 60px;
    background-color: white;
}

.circle i {
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}


p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background: #ffd480; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffd480, #ff9966); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffd480, #ff9966); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffd480, #ff9966); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffd480, #ff9966); /* Standard syntax */
    color: #ffffff;
}

.bg-2 {
    background: #ffd480; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffd480, #63dbd1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffd480, #63dbd1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffd480, #63dbd1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffd480, #63dbd1); /* Standard syntax */
    color: #ffffff;
}
.bg-3 {
    background-color: lightgrey;
    color: white;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 100%;
}
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    letter-spacing: 0px;
}
.navbar-nav  li a:hover {
    color: #8fbc8f;
}

.white {
    color: white;
}

.logo-font {
    font-family: 'Permanent Marker', 'sans-serif';
}

.logo-nav {
    color: #ffd480;
    font-size: 20px;
    padding-left: 20px;
}

.container-m {
    padding: 5px;
    border-radius: 3px;
    border-color: red;
}

.navbar img {
    max-width: 42px;
}

.navbarTxt {
    text-align: center;
    vertical-align: text-bottom;
}

.affix .home {
    top:0;
    z-index: 9999 !important;
}
.home {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

.glyphicon-menu-hamburger {
    color: #ffd480;
}


/*side navbar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffd480;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color:  #ff9966;
}

.sidenav span {
    position: absolute;
    font-family: "Permanent Marker", "sans-serif";
    font-size: 70%;
    padding: 8px 8px 8px 32px;
    bottom: 10px;
    color: #ff9966;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}