.italic {
    font-style: italic;
    font-size: 60%;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.steps {
    text-align: center;
}

.steps {
    color: #ffd480; /* yellow from background */;
}

.navtext {
    font-size: 80%;
    vertical-align: text-bottom;
    text-align: center;
}

.navtext-fade {
    font-size: 60%;
    vertical-align: text-bottom;
    color: lightgrey;
}

.home span {
    font-size: 80%;
    padding: 10px 5px;
}

.home i {
    padding: 3px;
}