// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-button {
  border: 1px solid white;
  background: transparent;
  width: 60%;
  margin: 5px;
  font-size: 17px;
}

.index-button:focus {
  color: white;
}


.fill-page {
  height: 100vh;
  padding-top: 70px;
  padding-bottom: 70px;
}